<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <body>
    <h1>Please verify your email</h1>
    <br>
    <p>Click on the link below and verify email with clicking on the Verify Button</p>
    <p><a href="https://www.easyremindme.com/verify/<%= @user.verify_id %>" target="_blank">Click to Verify Email</a></p>
    <br />
    <br />
    <p><a href='easyremindme@gmail.com'>easyremindme@gmail.com</a></p>
  </body>
</html>
