<h1>Please verify your email</h1>
<br>
<p>Click on the link below and verify email with clicking on the Verify Button</p>
<p><a href="http://localhost:3001/verify/<%= @user.verify_id %>">Verify Email</a></p>
<br />
<br />
<p><a href='easyremindme@gmail.com'>easyremindme@gmail.com</a></p>
