<!DOCTYPE HTML PUBLIC>
<html>
  <body>
    <h1>Easy Remind Me</h1>
    <h3>Report</h3>
    <br>
    <ul>
      <% @report.each do |k, v| %>
        <li><%= k %>: <%= v %></li>
      <% end %>
    </ul>
  </body>
</html>
